@font-face {
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat;
    font-weight: lighter;
    src: url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    height: auto;
    width: auto;
    font-size: 12px;
    font: inherit;
    vertical-align: baseline;
    font-weight: 100;
    box-sizing: border-box;
    font-family: Montserrat;
    scroll-behavior: smooth;
    scrollbar-color: var(--second-color) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    user-active: none;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: var(--second-color);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
}

*:link {
    text-decoration: none;
}

*:active {
    border: none;
    outline: none;
}

html {
    scrollbar-color: var(--second-color) #262627;
    height: 100%;
    background: var(--strong-color);
}

ol,
ul {
    list-style: none;
}

body {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --max-width: 1020px;
    --strong-color: #262627;
    --second-color: #383842;
    --alternative-color: rgb(155, 155, 155);
    --four-color: #ffbc05;
}

#root {
    width: 100%;
    max-height: 100%;
    height: 100%;
}


/* global classes */

.max-width {
    max-width: var(--max-width);
}

.strong-background {
    background: var(--strong-color);
}

.alternative-background {
    background: var(--alternative-color);
}

.second-background {
    background: var(--second-color);
}

.alternative-color {
    color: var(--alternative-color);
}

.higthlight-background {
    background: var(--four-color);
}

.icon-color {
    fill: var(--four-color);
}

.higthlight-color {
    color: var(--four-color);
}


/* utils */

.border {
    border: 1px solid var(--alternative-color);
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.full {
    width: 100%;
}

.border-radius {
    border-radius: 10px;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.flex-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}