.my-tickets-title {
    text-align: center;
    padding: 15px 0 30px 0;
    font-size: 1.5em;
}

.error-message-tickers{
    text-align: center;
}
.create-button-container{
    padding-bottom: 20px;
}
.user-ticket-list-and-option-container{
    padding-bottom: 10vh
}
.refresh-button{
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px;
}
.refresh-list-icon{
    width: 15px;
}