.logout-container {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
    border-top-left-radius: 15px;
    box-shadow: black 1px 0px 15px;
    max-width: 350px;
}

.log-out-icon {
    width: 20px;
    margin-right: 10px;
}

.username {
    padding-left: 10px;
}