.new-tickets-title {
    text-align: center;
    padding: 15px 0 30px 0;
    font-size: 1.5em;
}
.error-users-message{
    padding-bottom: 10px;
}
.error-users-message,
.error-message-tickers{
    text-align: center;
}
.create-button-container{
    padding-bottom: 20px;
}
.users-list-container{
    height: 60vh;
    overflow: hidden;
}
.step-title{
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.3em;
}
.users-list-scroll-container{
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}
.user-attribute>p{
    padding-bottom: 3px;
}
.user-attribute{
    width: 50%;
}
.user-row:hover{
    background: var(--second-color);
}
.users-buttons-continer{
    padding-top: 15px;
}
.user-row{
    cursor: pointer;
    border-bottom: 1px solid var(--alternative-color);
    padding: 10px 20px;
}
.empty-users{
    padding-top: 25px;
    text-align: center;
}
.new-ticket-message{
    padding-top: 20px;
    text-align: center;
}
.select-quantity-container {
    width: 90%;
    max-width: 400px;
}
.quantity-input-container{
    align-self: center;
    padding: 15px;
    margin-bottom: 15px;
}
.ok-button-container{
    padding-top: 15px;
}
.new-confirmation-message{
    padding-bottom: 10px;
    text-align: center;
}
.confirmation-container{
    padding-bottom: 20px;
}
.success-go-home-button{
    margin-top: 10px;
}