.pagination-container .disabled {
    opacity: .4;
}

.pagination-container .button.active,
.pagination-container .arrow.active {
    cursor: pointer;
}

.pagination-container .button,
.pagination-container .arrow,
.pagination-container .pages {
    padding: 5px 12px;
    border-radius: 7px;
    font-size: .9em;
}

.pagination-container .button {
    margin: 0 10px;
}

.pagination-container .arrow.prev {
    transform: rotate(90deg);
}

.pagination-arrow {
    width: 15px;
}

.pagination-container .arrow.next {
    transform: rotate(270deg);
}

@media (max-width: 600px) {
    .pagination-container .pages-and-arrows-container {
        align-items: flex-end;
        padding-bottom: 15px;
        width: 100%;
    }
    .pagination-container .button.prev {
        order: 4;
    }
    .pagination-container .button.next {
        order: 5;
    }
    .pagination-container .pages {
        order: 2;
    }
    .pagination-container .arrow.prev {
        order: 1;
    }
    .pagination-container .arrow.next {
        order: 3;
    }
    .pagination-container .arrow {
        margin-top: 10px;
    }
}