.ticketlist-container .scroll-container{
    overflow-y: scroll;
    overflow-x: hidden;
    align-content: flex-start;
    align-items: flex-start;
}
.ticketlist-container {
    height: 70vh;
    overflow: hidden;
}
.empty-tickets-message{
    text-align: center;
    font-size: 1.5em;
}
.ticket-row-container{
    border-bottom: 1px solid var(--alternative-color);
    padding: 10px 20px;
}
.ticket-row-container:last-of-type{
    border-bottom: none;
}
.ticket-icon{
    width: 35px;    
}
.trash-icon:hover{
    opacity: .4;
}
.trash-icon{
    transition: .3s;
    width: 25px;    
    cursor: pointer;
}
.adminRow .attribute-container{
    min-width: 17%;
    max-width: 17%;
}
.delete-message-container {
    text-align: center;
}
.attribute-container{
    min-width: 25%
}
.ticket-pagination-container{
    padding: 20px 0;
}