.my-tickets-title {
    text-align: center;
    padding: 15px 0 30px 0;
    font-size: 1.5em;
}

.error-message-tickers{
    text-align: center;
}

.request-button-container{
    justify-content: flex-end;
    padding-bottom: 20px;
}
.user-ticket-list-and-option-container{
    padding-bottom: 10vh
}